/* LoginPage.css */

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #6495ED; /* Cornflower blue background */
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
    width: 280px; /* Slightly smaller width */
    padding: 20px;
    background-color: #0047AB; /* Cobalt blue background for the form */
    border-radius: 10px; /* Rounded edges */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  }
  
  .login-title {
    font-size: 4em; /* Twice as big */
    text-align: center; /* Centered */
    color: #6495ED; /* Cornflower blue */
    margin-bottom: 20px;
    text-transform: lowercase; /* Lowercase text */
  }
  
  .login-input {
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px; /* Rounded edges */
    text-transform: lowercase; /* Lowercase text */
  }
  
  .login-button {
    padding: 5px 10px; /* Smaller button */
    font-size: 14px;
    background-color: #6495ED; /* Cornflower blue */
    color: #ffffff; /* White text */
    border: none;
    border-radius: 5px; /* Rounded edges */
    cursor: pointer;
    text-transform: lowercase; /* Lowercase text */
  }
  
  .login-button:hover {
    background-color: #4169E1; /* Darker cornflower blue on hover */
  }
  
  .login-error {
    color: red;
    margin-bottom: 10px;
    text-transform: lowercase; /* Lowercase text */
  }